

  .input {
    position: relative; /* Ensures absolute positioning works inside */
    display: inline-block; /* Keeps it inline with content */
  }

  .input > input {
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    border: none;
    min-width: 16rem;
    min-height: 2.5rem;
   
  }

  .largeInput{
    height: 3.5rem;
    width: 25rem;
  }

  .absElement {
    position: absolute;
    top: 50%; /* Aligns vertically */
    transform: translateY(-50%); /* Centers vertically */
    right: 0.5rem; /* Moves it to the end of the input */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Ensures it aligns with the input */
    pointer-events: none; /* Ensures input clicks still work */
    
  }
