
* {
    box-sizing: border-box;
}



.button{
   
    border-radius: 8px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    
}

.primary-button{
  background-color: var(--dark-100);
  border: var(--border-thin);
  color: var(--grey-100);
}

.secondary-button{
    background-color: var(--light-purple);
    border: none;
    color: var(--white);
  }

  .block-primary-button{
    background-color: var(--dark-100);
    border: var(--border-thin);
    color: var(--grey-100);
    display: block;
    width: 100%;
  }

  .block-secondary-button{
    background-color: var(--light-purple);
    border: none;
    color: var(--white);
    width: 100%;
  }