
* {
    box-sizing: border-box;
}

:root {

    --dark-purple: #2A27C9;
    --light-purple: #514CFF;
    --dark-purple-10:  rgba(42, 39, 201, 0.05);
    --light-purple-15: rgba(81, 76, 255, 0.15);
  
    --green-accent: #76DECC;
    --pink-accent: #EA6CBC;
    --red-accent: #FB4539;
  
    --dark-100  : #060714;
    --dark-90  : #262840;
    --grey-100: #7780A1;
    --grey-50: #DDE0E8;
    --grey-20: #F1F1F6;
    --grey-10: #F2F3F6;
  
    --white: #fff;
  
  
    --font-xs: 12px;
    --font-s: 14px;
    --font-ms: 16px;
    --font-l: 20px;
    --font-xl: 24px;
  }

.button{
   
    border-radius: 8px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    
}

.primary-button{
  background-color: var(--dark-100);
  border: solid 2px var(--grey-100);
  color: var(--grey-100);
}

.secondary-button{
    background-color: var(--light-purple);
    border: none;
    color: var(--white);
  }