



  .footer p{
    font-size: var(--font-xs);
    text-align:justify;
  }

  .footer ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: var(--white);
  }

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Creates three equal columns */
    height: 19rem;
    margin: auto;
    width: 70%;
    
   
  }

  .col {
    padding: 30px; /* Optional: for spacing within each column */
    border: var(--border-thin); /* Even thinner border */
  }
  .col1 {
    padding: 30px; /* Optional: for spacing within each column */
    border:  var(--border-thin); /* Even thinner border */
    border-right: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .col3 {
    padding: 30px; /* Optional: for spacing within each column */
    border:  var(--border-thin); /* Even thinner border */
    border-left: none; /* Remove right border */
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .innerbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .logo {
    font-size: var(--font-xl);
    color: var(--white);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .col1Items{
    font-size: var(--font-xs);

  }

  .col1Items > span{
    margin-right: 12px;
  } 

  .signInButton{
    color: var(--dark-purple);
    cursor: pointer;
  }

  