
.bigCard{
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
}

.bigCard > .innerContainer{
    width: 75%;
}

.priceCard{
    display: flex;
   justify-content: center;
    align-items: center;
    gap: 5rem;
}