

.priceCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
}
.priceCard > :nth-child(2){
    color: var(--white);
    font-size: var(--font-xl);
    font-weight: 700;
}

.priceCard > :nth-child(3){
    
    font-size: 0.5rem;
}